{% macro campo1(name, placeholder, type='text') %}
<div class="mb-3">
    <label for="{{ name }}" class="form-label">{{ placeholder }}</label>
    <input type="{{ type }}" class="form-control" id="{{ name }}" name="{{ name }}"
    placeholder="{{ placeholder }}">
</div>
{% endmacro %}


{% macro camposNuevos(field) %}
<dt>{{ field.label }}
<dd>{{ field(class="form-control")|safe }}
{% if field.errors %}
    <ul class="errors">
    {% for error in field.errors %}
        <li style="color: red;">{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}
</dd>
{% endmacro %}


{% macro render_field(field) %}
<div class="mb-3">
    <label for="{{ field.id }}" class="form-label">{{ field.label }}</label>
    {{ field(class="form-control") }}
    {% if field.errors %}
    <ul class="text-danger">
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endmacro %}